github "vojto/NiceData" "master"
github "vojto/NiceUI" "master"
github "vojto/NiceReactive" "master"
github "ReactiveCocoa/ReactiveSwift" "master"
github "ReactiveCocoa/ReactiveCocoa" "master"
github "vojto/SwiftDate" "master"
github "radex/SwiftyUserDefaults" ~> 3.0.1
github "naoty/SwiftCSV" "develop"
github "kishikawakatsumi/KeychainAccess" ~> 3.0.2